/**************** common css start ****************/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700&display=swap");

/* line 3 */
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

input:hover,
input:focus {
  outline: none !important;
}


.gray_bg {
  background-color: #f7f7f7;
}

.section_padding {
  padding: 140px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  /* line 18, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_common.scss */
  .section_padding {
    padding: 80px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* line 18, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {

  /* line 18, ../../01 cl html template/New folder/May 2019/179 Medisen Medical/179 Medisen Medical -Template/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


a:hover {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242429;
  font-family: "Playfair Display", serif;
}

p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 0px;
  color: #888888;
}
.sec-title{
  position: relative;
  text-align: center;
  max-width: 530px;
  margin: 0 auto 40px;
}
.sec-title-icon{
  position: relative;
  margin-bottom: 10px;
}
.sec-title-icon::after,
.sec-title-icon::before{
  content: "";
  width: 60px;
  position: absolute;
  border: 2px solid #745942;
}
.sec-title-icon::after{
  top: 10px;
  left: 40px;
}
.sec-title-icon::before{
  top: 10px;
  right: 40px;
}
h2 {
  font-size: 44px;
  line-height: 28px;
  color: #242429;
  font-weight: 600;
  line-height: 1.222;
}
.ptb-90 {
  padding: 90px 0;
}
@media (max-width: 576px) {

  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}

h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 576px) {

  h3 {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
  line-height: 22px;
}


img {
  max-width: 100%;
}


a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.section_tittle {
  margin-bottom: 84px;
}

@media (max-width: 576px) {
  .section_tittle {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .section_tittle {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_tittle {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .section_tittle {
    margin-bottom: 50px;
  }
}

.section_tittle h2 {
  font-size: 42px;
  color: #242429;
  line-height: 37px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}

@media (max-width: 991px) {

  .section_tittle h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }
}

.section_tittle p {
  color: #7f7f7f;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_tittle p {
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb_110 {
  margin-bottom: 110px;
}

@media (max-width: 576px) {
  .mb_110 {
    margin-bottom: 220px;
  }
}

.mt_130 {
  margin-top: 130px;
}

@media (max-width: 576px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mt_130 {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mt_130 {
    margin-top: 70px;
  }
}

.mb_130 {
  margin-bottom: 130px;
}

@media (max-width: 576px) {
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mb_130 {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mb_130 {
    margin-bottom: 70px;
  }
}

.padding_less_40 {
  margin-bottom: -50px;
}

.z_index {
  z-index: 9 !important;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
  .container {
    max-width: 1170px;
  }
}

/**************** common css end ****************/


/**************menu part start*****************/
.home_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
}

.main_menu .navbar-brand {
  padding: 0rem !important;
}

@media (max-width: 576px) {
  .main_menu .navbar-brand {
    max-width: 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_menu .navbar-brand {
    max-width: 130px;
  }
}

.main_menu .navbar-toggler {
  position: relative;
  z-index: 1;
}

.main_menu .navbar-toggler:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 200% auto;
}

.main_menu .navbar {
  padding: 0;
}

@media (max-width: 576px) {
  .main_menu .navbar {
    padding: 15px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_menu .navbar {
    padding: 15px 0;
  }
}

.main_menu .main-menu-item {
  text-align: right;
  justify-content: right;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_menu .main-menu-item {
    padding-left: 25px;
  }
}

.main_menu .main-menu-item ul li .nav-link {
  color: #242429;
  font-size: 14px;
  padding: 38px 23px;
  font-family: "Playfair Display", serif;
  line-height: 13px;
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 16px;
  }
}

.main_menu .main-menu-item ul li .nav-link:hover {
  color: #0065e1;
}

.main_menu .btn_1 {
  padding: 8.5px 34px;
  margin-left: 65px;
}

.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: -1px;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 9px 18px !important;
  color: #000 !important;
  text-transform: capitalize;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  color: #0065e1 !important;
}

.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #000 !important;
  }

  .main_menu .navbar {
    padding: 15px 0;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
    box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.2);
  }

  .main_menu .main-menu-item {
    text-align: left !important;
  }

  .main_menu .main-menu-item .nav-item {
    padding: 5px 15px !important;
  }

  .main_menu .main-menu-item .nav-item a {
    padding: 5px 15px !important;
  }

  .navbar-nav {
    align-items: start !important;
  }

  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }

  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #0065e1;
  }

  .dropdown .dropdown-item:hover {
    color: #0065e1 !important;
  }
}

.single_page_menu .logo_2 {
  display: none;
}

.single_page_menu .logo_1 {
  display: inherit;
}

.single_page_menu .main-menu-item ul li .nav-link {
  color: #fff;
  font-size: 15px;
  padding: 0px 24px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single_page_menu .main-menu-item ul li .nav-link {
    padding: 0px 16px;
  }
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

.menu_fixed .logo_2 {
  display: inherit;
}

.menu_fixed .logo_1 {
  display: none;
}

.menu_fixed .main-menu-item ul li .nav-link {
  color: #000;
}

/**************** banner part css start ****************/
.banner_part {
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 5.55rem;
}

.banner_part #owlCarousel,
.banner_part .owl-stage-outer,
.banner_part .owl-stage,
.banner_part .owl-item-bg,
.banner_part .owl-item {
  height: 100%;
  min-height: 200px;
  background-size: cover !important;
}
.banner_part .owl-item-bg.bg1{
  background: url('../images/banner/banner.jpg');
}
.banner_part .owl-item-bg.bg2{
  background: url('../images/banner/banner4.jpg');
}
.banner_part .owl-item-bg.bg3{
  background: url('../images/banner/banner10.jpg');
}

.banner_part #owlCarousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner_part #owlCarousel:hover .owl-nav {
  opacity: 1;
}

/* slider container */
.banner_part .owl-item {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  /*     -webkit-transform: translateZ(0) scale(1.0, 1.0); */
}

.banner_part .owl-item .owl-item-bg {
  width: 100%;
  display: inline-block;
  position: absolute;
  background-size: 100% 100%;
  background-position: center center;
}

/* previus/next slider control container */
.banner_part .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-80px);
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .3s;
}

/* previus/next slider control*/
.banner_part .owl-prev,
.banner_part .owl-next {
  width: 200px;
  height: 100px;
  line-height: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  /*     border-radius: 4px; */
  overflow: hidden;
  transition: all 1s ease
}

/* previus slider control*/
.banner_part .owl-prev {
  left: 10px;
}

/* next slider control*/
.banner_part .owl-next {
  right: 10px;
}

/* slider controls thump image and icon */
.banner_part .owl-prev-thump,
.banner_part .owl-prev-icon,
.banner_part .owl-next-thump,
.banner_part .owl-next-icon {
  height: 100%;
}

/* slider controls thump image */
.banner_part .owl-prev-thump,
.banner_part .owl-next-thump {
  width: 100%;
  background-size: cover;
  transition: all 1s ease-in-out;
  image-rendering: -webkit-optimize-contrast;
}

/* slider previous/next controls icon */
.banner_part .owl-prev-icon,
.banner_part .owl-next-icon {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  padding-top: 8%;
  text-align: center;
  transition: all 1s ease;
}

/* slider previous/next fontawsome icon */
.banner_part .owl-prev-icon:before,
.banner_part .owl-next-icon:before {
  font-family: FontAwesome;
  color: rgba(255, 255, 255, .7);
  font-size: 30px;
  transition: all 1s ease
}

/* left arrow */
.banner_part .owl-prev-icon:before {
  content: '\f104';
}

/* right arrow */
.banner_part .owl-next-icon:before {
  content: '\f105';
}

.banner_part .owl-prev-icon {
  left: 0;
}

.banner_part .owl-next-icon {
  right: 0
}

/*-----------
  nav hover
------------*/
/* prevent animation when disabling loop mode 
.owl-next:not(.disabled):hover
*/
.banner_part .owl-prev:hover,
.banner_part .owl-next:hover {
  animation: navShadow 4s ease-in-out infinite;
}

.banner_part .owl-prev:hover .owl-prev-icon,
.banner_part .owl-next:hover .owl-next-icon {
  width: 25%;
}

@keyframes navShadow {

  0%,
  100% {
    box-shadow: 0px 0px 1px 0 #f1f1f1;
  }

  50% {
    box-shadow: 0px 0px 5px 0 #f1f1f1
  }
}

.banner_part .owl-prev.disabled:hover,
.banner_part .owl-next.disabled:hover {
  animation: none;
}

.banner_part .owl-prev.disabled:hover .owl-prev-icon,
.banner_part .owl-next.disabled:hover .owl-next-icon {
  width: 50%;
}

/*-----------------------------------
        Owl content styling
-----------------------------------*/
.slide-content {
  position: absolute;
  right: 0;
  top: 35%;
  width: 45%;
  height: 300px;
  padding: 70px 70px 0;
  text-align: center;
  /*   transform: translate(-50%,-50%) rotate3d(1, 0, 0, -90deg); */
  transform-origin: top;
  background-color: rgba(0, 0, 0, .4);
  /*   -webkit-clip-path: polygon(0 0 , 100% 0 , 90% 100% , 10% 100% ); */
  color: #fff;
  /*   font-size: 2em; */
}

.slide-content,
.slide-content h3,
.slide-content h2,
.slide-content p,
.slide-content h3:before,
.slide-content h3:after {
  transition: all 2s ease;
}

.slide-content h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .95);
  /*   transform: translate3d(-100%, 0,1px); */
}

.slide-content h3:before,
.slide-content h3:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 49%;
  background-color: #f1f1f1;
}

.slide-content h3:before {
  left: -90px;
  /*   transform: translate3d(-700%, 0, 1px) */
}

.slide-content h3:after {
  right: -90px;
  /*   transform: translate3d(700%, 0, 1px) */
}

.slide-content h2 {
  color: #f9f9f9;
  /*   font-size: 1.3em; */
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  /*   transform: translate3d(100%, 0,1px); */
}
.slide-content img{
  position: relative;
  z-index: 2;
  margin: 20px 0;
  transform: scale(1.1);
}
.slide-content p {
  /*   font-size: .6em; */
  /*   padding: 0 190px; */
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, .8);
  /*   transform: translate3d(0, 400%,1px); */
}

/* animate content */
.owl-item.active .slide-content {
  transform: translate(-20%, 0%) rotate3d(1, 0, 0, 0);
  transition-delay: .7s
}

.owl-item.active h3,
.owl-item.active h2,
.owl-item.active p,
.owl-item.active h3:before,
.owl-item.active h3:after {
  transform: translate3d(0, 0, 1px);
  transition-delay: 1s
}


/**************** hero part css end ****************/

/**************** about css start ****************/
.sec-title .desc{
  margin: 22px auto;
}
.single-about-box{
  padding: 17px;
  height: 255px;
  box-shadow: 0px 0px 10px 10px #f2efef;
  transition: all .5s ease;
}
.single-about-box:hover{
  transform: translateY(-2px);
  background: rgba(255, 152, 0, .1);
  background: rgba(154, 221, 245, 0.3);
  /* background: rgba(203, 162, 126, .4); */
}
.single-about-box:hover img{
  transition: all .5s ease;
  transform: scale(1.1);
}
.single-about-box img{
  width: 60px;
}

/**************** End about css  ****************/

/*----------------------------------------------------*/
/* Feature Area css
============================================================================================ */
.app_feature_area {
  /* padding: 100px 0px; */
  overflow: hidden;
}

.app_feature_area .main_title {
  padding-bottom: 55px;
}

.app_round_image {
  position: relative;
  padding-top: 80px;
  text-align: center;
}

.app_round_image .round_c {
  -webkit-animation: 10s round_image infinite linear;
  animation: 10s round_image infinite linear;
}

.app_round_image .app_mobile {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.app_feature_item_inner {
  text-align: right;
  padding-top: 245px;
}

.app_feature_item_inner.left_feature {
  text-align: left;
}

.app_feature_item_inner.left_feature .app_feature_item .round_icon {
  left: -94px;
}

.app_feature_item {
  margin-bottom: 70px;
  position: relative;
}

.app_feature_item h4 {
  font-size: 18px;
  color: #424242;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .36px;
  /* padding-bottom: 17px; */
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.app_feature_item p {
  font-size: 14px;
  line-height: 27px;
  color: #6b6d6f;
  font-family: "Poppins", sans-serif;
}

.app_feature_item:last-child {
  margin-bottom: 0px;
}

.app_feature_item .round_icon {
  height: 58px;
  width: 58px;
  text-align: center;
  line-height: 57px;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  right: -94px;
  background: #dacafc;
  background: -moz-linear-gradient(45deg, #dacafc 0%, #9ecbfc 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #dacafc), color-stop(100%, #9ecbfc));
  background: -webkit-linear-gradient(45deg, #dacafc 0%, #9ecbfc 100%);
  background: -o-linear-gradient(45deg, #dacafc 0%, #9ecbfc 100%);
  background: -ms-linear-gradient(45deg, #dacafc 0%, #9ecbfc 100%);
  background: linear-gradient(45deg, #dacafc 0%, #9ecbfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
  z-index: 1;
  top: -28px;
}

.app_feature_item .round_icon:before {
  content: "";
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1;
}

.app_feature_item .round_icon:after {
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #dacafc;
  background: -moz-linear-gradient(45deg, rgba(218, 202, 252, 0.4) 0%, rgba(158, 203, 252, 0.4) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(218, 202, 252, 0.4)), color-stop(100%, #9ecbfc));
  background: -webkit-linear-gradient(45deg, rgba(218, 202, 252, 0.4) 0%, rgba(158, 203, 252, 0.4) 100%);
  background: -o-linear-gradient(45deg, rgba(218, 202, 252, 0.4) 0%, rgba(158, 203, 252, 0.4) 100%);
  background: -ms-linear-gradient(45deg, rgba(218, 202, 252, 0.4) 0%, rgba(158, 203, 252, 0.4) 100%);
  background: linear-gradient(45deg, rgba(218, 202, 252, 0.4) 0%, rgba(158, 203, 252, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dacafc', endColorstr='#9ecbfc', GradientType=1 );
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  -webkit-animation: runpulse 3s infinite linear;
  animation: runpulse 3s infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.app_feature_item .round_icon i {
  background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
  background: -webkit-gradient(linear, left top, right top, from(#dbcafc), to(#9eccfc));
  background: -o-linear-gradient(left, #dbcafc, #9eccfc);
  background: linear-gradient(left, #dbcafc, #9eccfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
  position: relative;
}
.app_feature_item .round_icon img{
  position: relative;
  z-index: 2;
  width: 35px;
}
.w-300{width: 300px;}
.app_feature_item.app_middle {
  /* max-width: 275px; */
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.app_feature_item.app_middle .round_icon {
  right: auto;
  left: 50%;
  top: -32px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.app_feature_item:hover h4 {
  background: -webkit-linear-gradient(left, #dbcafc, #9eccfc);
  background: -webkit-gradient(linear, left top, right top, from(#dbcafc), to(#9eccfc));
  background: -o-linear-gradient(left, #dbcafc, #9eccfc);
  background: linear-gradient(left, #dbcafc, #9eccfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@-webkit-keyframes round_image {
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes round_image {
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes runpulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

@keyframes runpulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
/* Responsive_feature area */
@media (max-width: 1199px){
  .app_round_image .round_c {
		max-width: 85%;
		position: relative;
		top: 82px;
	}
  .app_feature_item.app_middle {
		padding-top: 142px;
	}
	.app_feature_item.app_middle .round_icon {
		top: 61px;
	}

}


@media (max-width: 991px){
  .app_feature_item_inner .app_feature_item {
    width: calc(100% / 2);
    float: left;
  }
	.app_feature_item_inner {
		padding-top: 40px;
	}
	.app_round_image .round_c {
		max-width: 100%;
		position: relative;
		top: 0px;
	}
	.app_round_image .app_mobile {
		top: 48px;
	}
	.app_feature_item.app_middle {
		max-width: 50%;
		text-align: left;
		margin: 0px;
		padding-left: 100px;
		padding-top: 50px;
	}
	.app_feature_item.app_middle .round_icon {
		left: 0px;
		top: 0px;
	}
	.app_feature_item .round_icon {
		right: auto;
		left: 24px;
		top: 11px;
	}
	.app_feature_item {
		text-align: left;
		padding-left: 100px;
	}
	.app_feature_item_inner{
		overflow: hidden;
	}
	.app_feature_item_inner .app_feature_item{
		width: calc(100% / 2);
		float: left;
	}
	.app_feature_item_inner.left_feature .app_feature_item .round_icon {
		left: 12px;
	}
	.app_feature_item.app_middle .round_icon {
		left: 46px;
		top: 62px;
	}
}

@media (max-width: 575px){
	.app_feature_item_inner .app_feature_item {
		width: calc(100% / 1);
		float: none ;
	}
	.app_feature_item.app_middle {
		max-width: 100%;
  }
  .app_feature_item.app_middle {
    max-width: 100%;
  }
	.app_feature_item {
		margin-bottom: 40px;
	}
	.app_feature_item.app_middle .round_icon {
		left: 41px;
	}

	.app_feature_inner .col-md-4{
		display: none;
	}

}
/* End responsive_feature area */
/* End Feature Area css
============================================================================================ */


/**************** Start download area css  ****************/
.download-area {
  background: url(../images/banner/banner6.jpg) no-repeat center / cover fixed;
  background: url(../images/banner/banner10.jpg) no-repeat center / cover fixed;
  position: relative;
  text-align: center;
  z-index: 1;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(0, 0, 0, 0.45);
  background: rgba(18, 46, 69, 0.8);
}
.download-area h2,
.download-area h4,
.download-area p{
  color: #fff;
}
.download-area li {
  display: inline-block;
  width: 306px;
  /* margin-top: 40px; */
}
.download-btn {
  display: flex;
  text-align: left;
  margin: 0 15px;
  padding: 3px 30px 0px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.flexbox-center {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.download-btn-icon {
  flex: 5;
  margin-right: 15px;
}
.download-btn-text {
  flex: 20;
}
/**************** End download area css  ****************/


/*--------------------------------------
------ SCREENSHOT AREA CSS START -------
---------------------------------------*/
.screenshots-area .sec-title {
  margin-bottom: 15px;
}
.screenshot-wrap .slick-list {
padding-bottom: 90px !important;
padding-top: 80px !important;
}
.single-screenshot.slick-slide {
z-index: 1;
}
.single-screenshot.slick-active {
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
z-index: 2;
transition: all 0.3s ease-in 0s;
}
.single-screenshot.slick-center {
position: relative;
-webkit-transform: scale(1.25);
-ms-transform: scale(1.25);
transform: scale(1.25);
z-index: 3;
transition: all 0.3s ease-in 0s;
}
.single-screenshot img {
width: 100%;
}
.slick-dots {
text-align: center;
margin-top: 10px;
}
.slick-dots li.slick-active button {
  background-color: #9ecbfc ;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  background: transparent;
  border: 2px solid #9ecbfc ;
  border-radius: 100%;
  font-size: 0;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.single-screenshot.slick-center {
  background-image: url("../images/app/mockup.png");
  background-size: 100% 100%;
}
.single-screenshot.slick-center img {
  padding: 35px 20px 55px;
}
/*--------------------------------------
-------- SCREENSHOT AREA CSS END -------
---------------------------------------*/

/*testimonial_area css
================================================================*/
.testimonial_area {
  padding: 70px 0px;
  position: relative;
  background: #f6f8fa;
  background: #fdfdfd;
}
.testimonial_area .sec-title{
  margin-bottom: 10px;
}
.testimonial_area .testimonial_slider {
  max-width: 810px;
  margin: 0 auto;
  padding: 10px;
}

.testimonial_area .testimonial_slider .item {
  text-align: center;
  padding: 20px 20px 40px;
}

.testimonial_area .testimonial_slider .item .content {
  background-color: white;
  padding: 25px 50px 0px;
  -webkit-box-shadow: 0px 4px 27.55px 1.45px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 27.55px 1.45px rgba(0, 0, 0, 0.09);
}

.testimonial_area .testimonial_slider .item i {
  font-size: 35px;
  color: #e8e8e8;
}

.testimonial_area .testimonial_slider .item .auther-img {
  top: 28px;
  position: relative;
}

.testimonial_area .testimonial_slider .item .auther-img img {
  width: auto;
  display: inline-block;
  width: 100px;
}

.testimonial_area .testimonial_slider .item p {
  font: 400 16px/30px "Poppins", sans-serif;
  color: #6b6d6f;
  padding: 13px 0px 20px;
}

.testimonial_area .testimonial_slider .item h2 {
  font: 300 24px/36px "Montserrat", sans-serif;
  color: #424242;
}

.testimonial_area .testimonial_slider .item h5 {
  font: 400 14px/34px "Montserrat", sans-serif;
  color: #6b6d6f;
}

.testimonial_area .testimonial_slider .owl-nav {
  position: absolute;
  top: 39%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.testimonial_area .testimonial_slider .owl-nav .owl-prev,
 .testimonial_area .testimonial_slider .owl-nav .owl-next {
  width: 42px;
  height: 42px;
  background: #e8e8e8;
  text-align: center;
  color: #424242;
  color: #999898;
  font-size: 42px;
  margin: 4px;
  line-height: 42px;
  display: block;
}
.testimonial_area .owl-dots {
  text-align: center;
}

.testimonial_area .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e8e8e8;
  display: inline-block;
  margin: 0px 5px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.testimonial_area .owl-dots .owl-dot.active {
  background: #9ecbfc;
  width: 17px;
  height: 17px;
}

.testimonial_area .testimonial_slider .owl-nav .owl-prev:hover,
.testimonial_area .testimonial_slider .owl-nav .owl-next:hover {
  color: #9ecbfc;
}

.testimonial_area .testimonial_slider .owl-dots {
  margin-top: 30px;
}

.testimonial_area .testimonial_slider .owl-dots .owl-dot.active,
.testimonial_area .testimonial_slider .owl-dots .owl-dot:hover {
  background: #9ecbfc;
}
@media (max-width: 575px){
  .testimonial_slider .owl-nav{
		display: none;
	}
	.testimonial_area .testimonial_slider {
		padding: 0px;
	}
}
@media (max-width: 480px){
  .testimonial_area .testimonial_slider .item .content {
		padding: 25px 25px 0px;
	}
}
/* end */

/* Start Footer */

.site-footer
{
  background-color:#0d0d10;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;

}
.footer-links a
{
  color:#adacac;
  width: 200px;
  padding: 0px 10px;
  margin: 0;
  margin-top: 10px;
}
.footer-links .download-btn-icon{flex: 3;}
.footer-links h4{ color:#adacac;font-size: 1.2rem;}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
.social-icons .skype-icon {
  transition: all .5s ease ;
  cursor: pointer;
  position: relative;
}
.social-icons .skype-icon:hover{
  transform: scale(1.1);
}
.social-icons .skype-icon img{
  width: 35px;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.copied {
  position: absolute;
  background: #fff;
  border-radius: 100px;
  padding: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -40px;
  margin-top: -20px;
  color: #333;
  width: 105px;
  transform: scale(0);
  opacity: 1;
}
.copiedEffect {
  animation: rippleDrop .5s linear;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  transform: scale(.8);
  position: absolute;
  opacity: 0;
  
}
.rippleEffect {
    animation: rippleDrop .5s linear;
}
.copiedEffect {
  animation: copiedDrop 1s ease;
}

@keyframes rippleDrop {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes copiedDrop {
  50% {
    transform: scale(.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
